#dusuario{
    margin-left: 1px;
<<<<<<< Updated upstream
}
#dpassword{
    margin-left: 1px;
}
=======
}
#dpassword{
    margin-left: 1px;
}
>>>>>>> Stashed changes
#boton{
    margin-left: 10px;
}
#ase{
    margin-left: 20px;
}
#mostrar{
    margin-left: 100px;
}
#textarea{
    margin-left: 100px;
}
.error {
    background-color: rgb(185, 0, 0);
    text-align: center;
    padding: 1rem;
    color: var(--blanco);
    text-transform: uppercase;
    border-radius: 10px;
}
.correcto {
    background-color: rgb(74, 185, 0);
    text-align: center;
    padding: 1rem;
    color: var(--blanco);
    text-transform: uppercase;
    border-radius: 10px;
}
